.title {
  text-align: center;
}

.guard__name, .guard__job {
  text-align: left;
}

.check-left {
  text-align: right;
  list-style-type: none;
  padding-right: 20px;
  position: relative;
}

.check-left:after {
  content: "🗹";
  position: absolute;
  top: 0;
  right: 0;
}